.extraInfoWrap {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 10px;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.extraInfoWrap div {
  background-color: var(--main-color);
  height: 200px;
  width: 200px;

  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.extraInfoWrap div span {
  font-size: 3rem;
}
