h1,
p,
span {
  color: var(--text-color);
  margin: 0;
}

body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  width: 100vw;
  background: #309668;
  background: radial-gradient(
    circle,
    rgba(48, 150, 104, 1) 0%,
    rgba(47, 125, 102, 1) 19%,
    rgba(32, 61, 54, 1) 47%,
    rgba(0, 0, 0, 1) 100%
  );
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mainContent {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 20px;

  justify-items: center;
  align-items: center;
}

@media (min-width: 768px) {
  .mainContent {
    box-sizing: border-box;
    grid-template-columns: 500px minmax(420px, 1fr);
    grid-template-rows: repeat(2, 1fr);

    box-sizing: border-box;
    padding: 100px 0px;
    max-width: 1300px;
  }

  .mainDisplay {
    grid-row: 1 / 3;
  }
}

.extraInfoWrap {
  width: 100%;
  height: 100%;
}

.mainDisplay,
.extraInfoWrap div,
.dayForecast {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
